h1 {
    font-family: 'Unica One';
font-style: normal;
font-weight: 400;
font-size: 150px;
color: #F7C0B9;
line-height: 150px;
}
h2 {
    font-family: 'Unica One';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 55%;
    padding-left: 10px;
    
    color: #F7C0B9;}
h3 { font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #F7C0B9;
    padding-left: 17px;}

    .texto-inicio{
        float: left;
        width: 40%;
        height: 100%;    
    }
    .imagen-inicio{
        float: right;
    width: 40%;
    }
    #mi-cuenta{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        background: #FFF9F9;
        }

    .imagen-cuenta{
        float: left;
        width: 50%;
    }
    .cimagen{
        width: 100%;
    }
    .texto-cuenta{
        float: right;
        width: 30%;
        
    }
    #capacitate{
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    
    }
    .texto-capacitate{
        float: left;
        width: 30%;
    
    }
    .img-capacitate{
        float: right;
        width: 50%;
    
    }
    .cimg{
        width: 100%;
    }